.sectionheading{
    height: 170px;
    background-color: #ffffff;
    text-align: center; 
  
}
.sectionheading>h{
 font-size: 35px;
}
.image-body{
    max-height:620px;
    background-color: rgb(255, 255, 255);
    overflow-x:auto ;
    display: flex;
    
}
