
.con{
    width: 62px;
    float: left;
    opacity: 0.5;
    height: 715px;
    position: fixed;
    padding: 0px;
    

}

.point{
    background-color: rgba(255, 255, 255, 0.5);
height: 250px;

margin-top: 188px;
width: 65px;
}
.circle{
    font-size: 16px;
    margin-left: 20px;
margin-top: 27px;
color: rgb(0,0,0);
}