.About{
    margin-top: 10px;
}

.Abouttext{
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
}
.Aboutimg{
    width: 500px;
    height: 500px;
    background-color: rgb(28, 28, 7);

}
.Aboutother{
    height: 290px;
    background-color: aquamarine;

}
