.AboutHeading{
    margin-top: 10px;   
    height: 100px;
    background-color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
}


.About{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    
  
}

.Abouttext{
   height: 500px;
   width: 40%;
   
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
}
.Abouttext>h{
    font-size: 40px;
    text-align:center;
}


.Aboutimg{
    margin-left: 50px;
    margin-left: 0px;
    border-radius:15px 0px  15px 0px;
    width: 30rem;
    background-color: rgb(255, 255, 255);

}

.Carouselimg{
    background-color: rgb(240, 235, 235);
    border-radius:25px;
}

.aboutimgs{
 
    width:810px;
    height: 500px;
    display: block;
   
}

.Aboutother{
    
   
    background-color: rgb(248, 248, 248);
}
.AboutTeam{
 
    
    background-color: rgba(255, 255, 255, 0.5);
}
.AboutTeamheading {
    margin-top: 15px;
font-size: 20px;
text-align: center;
}
.AboutGallary{
   

    background-color: rgba(255, 255, 255, 0.5);
}

.AboutLoaction{

    
    background-color: rgba(255, 255, 255, 0.5);
}



/*
.Aboutother{
    float: right;
    height: 190px;
    width: 600px;
    background-color: rgb(183, 31, 59);

}
.AboutotherTeam{
    float: left;
    height: 190px;
    width:400px;
    background-color: rgb(58, 220, 166);
}

.AboutotherTeam> h1{
    font: 10px;
    text-align: center;
    width: 100px;
}
.Teamimg{
    float:left;
    margin-top: 5px;
    width: 400px;
    height: 200px;
    background-color: black;
  
}
.Teamtext{
    float: right;
    margin-top: 5px;
    width: 236px;
    height: 200px;
background-color: rgb(248, 247, 247);
}

.CarouselimgTeam{
   
    width: 400px;
    height: 200px;
    display: block;
   
}
.aboutimgsTeam{
  width: 400px;
    height: 180px;
    display: block;

}