.feedback{
  margin-top: 0px;  
}


.feedbackHeading{
    margin-top: 20px;   
    height: 90px;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;

    
}

.Terminals{
    height:550px;
    width:50rem;
    background-color: rgb(255, 255, 255);
}
.App{
    margin-top: 10px;
}
.form{
    margin-top: 0px;
    width: 100%;
    background-color: rgb(249, 249, 249);
}
.footer{
    height: 250px;
    background-color: rgb(247, 247, 247);
}

.Socialtext{
    height: 200px;
    float: left;
    width: 50%;
    text-align: center;
}
.socialmedia{
    width: 50%;
    height: 50px;
    background-color: rgb(247, 247, 247);
    padding:10px;
    float:left;
   font-size: 20px;

}
.companydetails{
    
   background-color: rgb(247, 247, 247); 
   padding:10px;
   margin-top:0px;

}
.companylocation{
    background-color: rgb(47, 202, 20);  
  
}
