.feedback{
  margin-top: 15px;  
}


.Terminals{
    height:500px;
    width:50rem;
    background-color: rgb(255, 255, 255);
}
.App{
    margin-top: 50px;
}
.form{
    margin-top: 50px;
    width: 100%;
    background-color: rgb(249, 249, 249);
}
.footer{
    height: 290px;
    background-color: rgb(247, 247, 247);
}

.Socialtext{
    float: left;
    width: 50%;
    text-align: center;
}
.socialmedia{
    width: 50%;
    height: 50px;
    background-color: rgb(247, 247, 247);
    padding:10px;
    float:left;
   font-size: 20px;

}
.companydetails{
   background-color: rgb(247, 247, 247); 
   padding:10px;
   margin-top: 30px;

}
.companylocation{
    background-color: rgb(47, 202, 20);  
  
}